body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.container {
    width: 1343px;
    height: 657px;
    flex: 1;
    display: flex;
    flex-direction: row;
    

}
.box-container{
    width: 940px;
    flex-direction: column;
    justify-content: center;
}

.lateral{
    width: 200px;
    height: 100%;
}
.top-bot{
 width: 100%;
 height: 150px;
}
.centro{
    margin: 103.5px;
    margin-left: 345px;
    width: 250px;
    height: 150px;
    
}

.quadrado1 { background-color: #7EA783;}

.quadrado2 { background-color: #8EA55D;}

.circulo { background-color: #486940;}

.quadrado3 { background-color: #67842A;}

.quadrado4 { background-color: #84B025;}