body {
    margin: 0;
    padding: 0;
    background: #FFFFFF;

}

.navbar{
    background-color: rgba(241, 159, 159, 1);
    height: 3rem;
}

.banner-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    
}

.escrita{  
    margin: 0 auto; 
    font-family: sans-serif, roboto;
    font-size: 30px;
}

p:first-child{
    margin-top: 5rem;
}


.meio{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barra-meio{
    
    position: absolute;
    border-radius: 16px;
    width: 35rem;
    height: 2.5rem;
    background-color: rgba(241, 159, 159, 1);
}


.banner-bot{
    height: 80vh;
    background: rgba(192, 84, 84, 1);

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 50vh 50vh 50vh;
    gap:  20px;
}

li{
    list-style-type: none;
    border-radius: 16px;
    background-color: rgba(164, 72, 72, 1);

}

.esquerdinha{
    grid-column-start: 1;
    grid-column-end: 3;
}

.lista-esquerda{
    padding-top: 50px ;
}

.esq{
    height: 5rem;
    width: 30rem;
    margin-top: 30px;
}


.direitinha{
  margin-top: 30px;
  grid-column-start: 3;
  grid-column-end: 4;


}
.lista-direita{
    padding-top: 50px;
}

.dir{
    margin-right: 3rem;
    height: 8.5rem;
    width: 30rem;
    margin-bottom: 20px;
}