body {
    margin: 0;
    padding: 0;
    background: #E5E5E5;
}

.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vh 50vh;
}

.quadrado1 {
    width: 332px;
    height: 164px;
    background-color: #695050;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 16px;
    margin: auto;
}

.quadrado2 {
    width: 332px;
    height: 164px;
    background-color: #b08484;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 16px;
    margin: auto;
}

.circulo {
    height: 240px;
    width: 263px;
    background-color: #fff6f6;
    grid-column-start: 2;
    grid-column-end: 3;
    border-radius: 50%;
    margin: auto;
}

.quadrado3 {
    width: 332px;
    height: 164px;
    background-color: #faeaea;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 16px;
    margin: auto;
}

.quadrado4 {
    width: 332px;
    height: 164px;
    background-color: #f5cfcf;
    grid-column-start: 3;
    grid-column-end: 4;
    border-radius: 16px;
    margin: auto;
}